{% extends 'base.html' %}
{% load d3 %}
{% block content %}
<a href="http://www.djangoproject.com/">
	<img src="{{ STATIC_URL }}/static/images/djangojoint107x25_grey.gif" alt="A Django joint." title="A Django joint." />
</a>
<div class="chart">
	<h3>Test Chart</h3>
	{% d3_test_chart '0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0' %}
</div>
<div class="chart">
	<h3>Test Chart</h3>
	{% d3_test_chart '0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0' %}
</div>

{% include 'd3/_d3_area_chart.html' %}
{% include 'd3/_d3_column_chart.html' %}
{% include 'd3/_d3_stack_chart.html' %}
{% d3_test_chart '0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0' %}
{# {% d3_test_chart '0.1,0.2,0.3,0.4,0.5' %} #}
{# {% d3_test_chart '0.1,0.2' %} #}
{{ data }}
{% with series=data.series %}
    {% d3_series_chart data=series,series %}
{% endwith %}
{# {% d3_series_chart data=series %} #}

{% endblock %}
