{% extends "d3/_d3_base.html" %}
{% block content %}
/*
 * A stack chart.
 */
{% load staticfiles %}
<h1 id='stacked_bars'>Stacked Bars</h1> 
<div class='gallery' id='chart'> 
	<button class='first' id='group' onclick='transitionGroup()'> 
	Group
	</button>
	<button class='last active' id='stack' onclick='transitionStack()'> 
	Stack
	</button>
</div>
<script type="text/javascript" src="{% static %} "/static/js/stack.js" %}"></script>

<link type='text/css' href='{% static %} "/static/css/stack.css" %}' rel='stylesheet'/>
<link type='text/css' href='{% static %} "/static/css/button.css" %}' rel='stylesheet'/>


<script type="text/javascript" src="{% static %} "/static/js/d3.layout.js?1.12.0" %}"></script>
<script type="text/javascript" src="{% static %} "/static/js/stream_layers.js" %}"></script>

{% endblock %}
