{% extends 'base.html' %}
{% block body %}
	<div>
	{% block content_title %}
		<h1>django-d3</h1>
		<h2>Home</h2>
		<ul>
			<li><a href="{% url home %}">Home</a></li>
			<li><a href="{% url examples %}">Examples</a></li>
		</ul>
	{% endblock %}
	</div>
	<div class="content">
	{% block content %}
		<a href="http://www.djangoproject.com/"><img src="{{ STATIC_URL }}/static/images/djangojoint107x25_grey.gif" border="0" alt="A Django joint." title="A Django joint." /></a>
	{% endblock %}
	</div>
{% endblock %}
