body {
    font: 10px sans-serif;
}
.rule line {
    stroke: #eee;
    shape-rendering: crispEdges;
}
.rule line.axis {
    stroke: #000;
}
.area {
    fill: LightSteelBlue;
}
.line, circle.area {
    fill: none;
    stroke: SteelBlue;
    stroke-width: 1.5px;
}
circle.area {
    fill: #fff;
}
