<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block title %}django-d3{% endblock %}</title>
		{% include "d3/_d3_deps.html" %}
		<style type="text/css"> 
			body {
			  font: 10px sans-serif;
			}
			.rule line {
			  stroke: #eee;
			  shape-rendering: crispEdges;
			}
			.rule line.axis {
			  stroke: #000;
			}
			.area {
			  fill: lightsteelblue;
			}
			.line, circle.area {
			  fill: none;
			  stroke: steelblue;
			  stroke-width: 1.5px;
			}
			circle.area {
			  fill: #fff;
			}
		</style>
	</head>
	<body>
		<div id="body">
		{% block body %}
			<div>{% block content_title %}{% endblock %}</div>
			<div class="content">{% block content %}{% endblock %}</div>
		{% endblock %}
		</div>
	</body>
</html>
